.blok{ 
  background-color:#FCC00A;
  width: 800px;
  margin: 50px auto;
  border: 10px dashed #ff0000;
  padding: 180px;
}


body 
{ font-family: Verdana;

font-family: "Open Sans", sans-serif;

  color: black;
}
  
 
 
